<div class="contenedor">
    <div class="header">
        <img src="./../../../../assets/imagene/imgHeader.jpg" alt="Imagen header">
        <div class="enlace">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Ingresar Electrodomestico</h5>
                    <p class="card-text">Modulo para ingresar nuevos Registros de electrodomesticos</p>
                    <a href="/registro/crear" class="btn btn-primary">Ingresar ahora</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Todos los Electrodomesticos</h5>
                    <p class="card-text">Modulo para listar todos los registros de electrodomesticos y pasarlos a
                        entrega.</p>
                    <a href="/registro/listar-todo" class="btn btn-primary">Ingresar ahora</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Listo para entrega</h5>
                    <p class="card-text">Modulo para listar todos los electrodomesticos listos para entregar y generar
                        factura.</p>
                    <a href="/registro/listar-entrega" class="btn btn-primary">Ingresar ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>