<div class="card border-primary mb-3">
    <div class="card-body text-primary">
        <h3 class="display-4">Listado de electrodomesticos</h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>Nombre cliente</th>
                    <th>Numero cedula</th>
                    <th>Tipo Electrodomestico</th>
                    <th>fecha ingreso</th>
                    <th>telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registro" >
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.nombreCliente }}</td>
                    <td>{{ registro.cedulaCliente }}</td>
                    <td>{{ registro.tipoElectrodomestico.descripcion }}</td>
                    <td>{{ registro.fechaIngreso }}</td>
                    <td>{{ registro.telefono }}</td>
                    <td>
                        <button type="button" name="actualizar" class="btn btn-primary btn-sm"
                            >Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" [routerLink]="['/home']"
                id="btnVolverPrincipal">Volver</button>
        </div>
    </div>
</div>
