<div class="card border-primary mb-3">
    <div class="card-body text-primary">
        <h3 class="display-4">Listado de electrodomesticos</h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>Nombre cliente</th>
                    <th>Numero cedula</th>
                    <th>Tipo Electrodomestico</th>
                    <th>fecha ingreso</th>
                    <th>telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registro | async" >
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.nombreCliente }}</td>
                    <td>{{ registro.cedulaCliente }}</td>
                    <td>{{ registro.tipoElectrodomestico.descripcion }}</td>
                    <td>{{ registro.fechaIngreso }}</td>
                    <td>{{ registro.telefono }}</td>
                    <td>
                        <button type="button" name="actualizar" id="mandar-entrega" class="btn btn-primary btn-sm"
                            (click)="open(content, registro)" value="registro">Mandar a Entrega</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" [routerLink]="['/home']"
                id="btnVolverPrincipal">Volver</button>
        </div>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ficha para actualizar</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-actualizar-registro></app-actualizar-registro>
    </div>    
</ng-template>