<nav class="navar">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="linkCrearRegistro" href="/registro/crear">Ingresar Electrodomestico</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="linkListarTodo" href="/registro/listar-todo">Listar todos los electrodomesticos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="linkListarEntrega" href="/registro/listar-entrega">Listar electrodomesticos para entrega</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="linkListarFactura" href="/factura/listar">Ver Facturas</a>
    </li>
  </ul>
</nav>
